.review-data{

}
.cart{
    background-color: rgb(204, 195, 255);
    width: 400px;
    padding: 8px;
    margin-top: 50px;
    font-size: 19px;
    border-radius: 10px;
    margin-left: 116px;
    margin-right: 0px;
}
